<h1>
  Monthly Malaria Workbook File
  <small>
    <a class="btn btn-default" href="<%= url_for(controller: 'workbook_files', action: 'new') %>">
      <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> 
      Upload Workbook
    </a>
  </small>
</h1>

<hr/>

<% if @workbook_file.workbook %>
<p>
  <a href="<%= url_for controller: 'monthly_malaria', action: 'workbook', id: @workbook_file.workbook.id %>">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
    Back to Workbook
  </a>
</p>
<% end %>

<div class="well">
  <div class="row">
    <div class="col-sm-2 info"></div>
    <div class="col-sm-10 lead"><span class="label label-warning"><%= @workbook_file.status.capitalize %></span></div>
  </div>
  <div class="row">
    <div class="col-sm-2 info">Filename</div>
    <div class="col-sm-10"><%= @workbook_file.filename %></div>
  </div>
  <% if @workbook_file.workbook %>
    <div class="row">
      <div class="col-sm-2 info">District</div>
      <div class="col-sm-10"><%= @workbook_file.workbook.district.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-2 info">Year</div>
      <div class="col-sm-10"><%= @workbook_file.workbook.reporting_year %></div>
    </div>
    <div class="row">
      <div class="col-sm-2 info">Month</div>
      <div class="col-sm-10"><%= @workbook_file.workbook.reporting_month %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 info">Uploaded</div>
    <div class="col-sm-10"><%= @workbook_file.uploaded_at %></div>
  </div>
  <div class="row">
    <div class="col-sm-2 info">Uploaded by</div>
    <div class="col-sm-10"><%= @workbook_file.user.name %></div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-2 info"></div>
    <div class="col-sm-10">
      <a class='btn btn-primary' href="<%= @workbook_file.workbook_file_url %>">Download</a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Validation errors</h4>
  </div>
  <div class="panel-body">
    <% @workbook_file.validation_errors['errors'].each do |error| %>
      <div class="alert alert-danger" role="alert">
        <%= error['message'] %>
      </div>
    <% end unless @workbook_file.validation_errors['errors'].blank? %>
  </div>
</div>