<h1>
  Monthly Malaria Workbooks
  <small>
    <a class="btn btn-default" href="<%= url_for(controller: 'workbook_files', action: 'new') %>">
      <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> 
      Upload Workbook
    </a>
  </small>
<h1>

<hr/>

<%= form_tag({controller: 'monthly_malaria', action: 'search'}, {class: 'form-inline search-form'}) do %>
  <div class="form-group">
    <label><span class="glyphicon glyphicon-search form-icon" aria-hidden="true"></span></label>
    <%= text_field_tag(:q, params[:q], placeholder: 'Search by district, filename, or user', class: 'form-control input-sm input-wd') %>
  </div>
  <div class="form-group">
    <label>Year</label>
    <%= select_tag(:reporting_year, options_for_select([
          ['All', ''],
          ['2014', 2014],
          ['2015', 2015]
        ], selected: params[:reporting_year]), {class: 'form-control input-sm'}) 
    %>
  </div>
  <div class="form-group">
    <label>Month</label>
    <%= select_tag(:reporting_month, options_for_select(
          (0..12).map{|m| [(I18n.t("date.month_names")[m] || 'All'), m]}, selected: params[:reporting_month]), {class: 'form-control input-sm'}) 
    %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-default">Search</button>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <th>District</th>
    <th>Date</th>
    <th>Last submission</th>
    <th>Uploaded by</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @workbooks.each do |workbook| %>
      <tr>
        <td><%= workbook.district.name %></td>
        <td><%= Date.new(workbook.reporting_year, workbook.reporting_month).strftime('%Y %b') %></td>
        <td><%= workbook.active_workbook_file.uploaded_at if workbook.active_workbook_file %></td>
        <td><%= workbook.active_workbook_file.user.name if workbook.active_workbook_file %></td>
        <td><%= workbook.current_status %></td>
        <td><%= link_to "View", action: 'workbook', id: workbook.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>